* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid black;
    filter: blur(0em);
    transition: filter 0.5s;
    margin-top: 50px;
}

.pic6 {
    margin-bottom: 200px;
}

img[data-src] {
    filter: blur(0.4em);
}