
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lato, sans-serif;
    max-width: 1160px;
    margin: 0 auto;
    background-color: #ffffff;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #32292f;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

header {
    display: grid;
    grid-template-columns: 75px 1fr 60px 40px;
    grid-template-rows: 1fr 20px;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #355f5f;
    color: #ffffff;
}

header div {
    display: flex; 
    gap: 5px;
    margin: auto;
}

header p {
    grid-column: 1/5;
    text-align: center;
    background: linear-gradient(0.25turn, #b1d3d3, #faf2d6, #ffffff, #faf2d6, #b1d3d3);
    color: #32292F;
    border: 2px solid #32292f;
    padding: 5px 0px;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

h1 {
    font-size: 24px;
    line-height: 1;
    padding: 5px;
    font-family: Lobster Two, cursive;
    text-shadow: 0 2px 3px #32292F;
}

h2 {
    color: #ffffff;
    font-family: Lobster Two, cursive;
    text-shadow: 0 3px 3px #32292F;
}



#cc {
    font-size: 18px;
    font-family: Lato, sans-serif;
}

/************* HAMBURGER MENU ***************/
nav {
    display: block;
    position: relative;
    margin: 20px auto;
}

nav ul {
    list-style-type: none;  /* remove list dots */
    padding: 0;  /* remove padding on right side of list items */
    margin: 0;  /* remove margin from hamburger icon and home button */
}

#primaryNav {
    position: absolute;
    top: -20px;
    right: 30px;
    border: 2px solid #000000;
}

#primaryNav .active {
    text-decoration: 2px overline solid #32292f;
    font-weight: bold;
}

nav button {
    background: transparent;
    border: 1px solid #ffffff;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 2px 6px;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

nav ul li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    color: #32292f;
    background-color: #b1d3d3;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background: linear-gradient(0.25turn, #b1d3d3, #faf2d6, #ffffff, #faf2d6, #b1d3d3);
}

nav ul { display: none;}
nav ul.open {display: block;}

/* hides hamburger button and displays an X */
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#hamburgerBtn:hover { 
    color: black;
    background: linear-gradient(0.25turn, #faf2d6, #ffffff, #faf2d6);
}

main {
    background-color: #e5f0f0;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  
}

/* Tuesday Banner */
#banner {
    display: none;
    text-align: center;
    background: linear-gradient(0.25turn, #b1d3d3, #faf2d6, #ffffff, #faf2d6, #b1d3d3);
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-top : 3px dashed #322932;
    border-bottom : 3px dashed #322932;
    line-height: 1.1;
}

#close {
    padding: 3px;
    background-color: #f7c72b;
    
}

/* Mobile Layout (Grid) */
.containers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.containers div {
    border: 1px solid #32292f;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    padding: 10px;
}

/**************************************************/
/************ Box-1 WELCOME-HERO IMAGE ************/
.welcome {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 5px 15px 5px 30px;
    color: white;
    background-color: #355f5f90;
}

.box1 {
    position: relative;
}

.box1 img {
    object-fit: cover;
    height: 100%;
}

.containers div .joinbtn {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background-color: #f7c72b;
    border: 1px solid #32292f;
    padding: 7px;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    border-radius: 5px 5px 5px 5px;
}

.joinbtn a {
    color: #32292f;
    text-decoration: none;
}

.containers .joinbtn:hover {
    background-color: #f9dd83;
}
/*************** END BOX-1 ******************/
/********************************************/
/************** BOX-2 EVENT *****************/
.event {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}

.box2 {
    position: relative;
}

.box2 img {
    object-fit: cover;
    height: 100%;
}

.box2 p {
   position: absolute;
   color: white;
   bottom: 20px;
   left: 10px;
   right: 10px;
   padding: 5px  10px  10px 10px;
   background-color: #355f5f90;
}
/*************** END BOX-2 ******************/
/********************************************/
/************** BOX-3 WEATHER ***************/
.weather {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}

.box3 {
    position: relative;
}

.box3 img {
    object-fit: cover;
    height: 100%;
}

.box3 .temp-box {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    padding: 5px 30px 10px 30px;
    background-color: #355f5f90;
    color: #ffffff;
    border: none;
    text-align: center;
}

.box3 .temp-box img {
    padding: 10px;
}

/************** END BOX-3 *****************/
/******************************************/
/*************** BOX-4 NEWS ***************/
.news {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
} 

.box4 {
    position: relative;
}

.box4 img {
    object-fit: cover;
    height: 100%;
}

.box4 p {
   position: absolute;
   color: #ffffff;
   bottom: 20px;
   left: 10px;
   right: 10px;
   padding: 5px  10px  10px 10px;
   background-color: #355f5f90;
}

.box4 p a {
    color: #f9dd83;
    text-decoration: none;
}
/***************BOX 4 End *******************/
/********************************************/
/***********Box-6 SPOTLIGHTS ****************/

/***************SP1 BOAT TOUR****************/
.boat {
    position: absolute;
    top: 20px;
    left: -1px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}
.split1 {
    position: relative;
}
.split1 p {
    color: #32292f;
    padding: 5px 0px;
}
/**********SP2 BED & BREAKFAST**************/
.bed {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}
.split2 {
    position: relative;
}
.split2 p {
    color: #32292f;
    padding: 5px 0px;
}

/*************SP3 RESTAURANT*****************/
.cafe {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}
.split3 {
    position: relative;
}
.split3 p {
    color: #32292f;
    padding: 5px 0px;
}

/***************BOX 6 End *******************/
/********************************************/
.box5 {
    display: none;
}

.box1, .box2, .box3, .box4, .box6 {
    border: 2px solid #32292f;
    background-color: white;
    padding: 10px;
}

.box6 p {
    line-height: 1.1;
    font-size: .9rem;
  }

.box6 {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 10px;
    height: 100%;
    grid-row: 5/7;  
}

.box6 div:nth-child(3) {
    display: none;
  }

/*** Selectors ***/
.material-icons {
    color: #ffffff;
}

/*** Footer ***/
footer section {
    display: grid;
    text-align: center;
    padding: 10px;
    background-color: #355f5f;
    color: #ffffff;
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
   
}

footer a {
    text-decoration: none;
    color: #ffffff;
   
}

footer .urlsite {
    line-height: 2rem;
}

footer #lastline {
    text-align: center;
    font-size:  16px;
    padding: 10px;
    background-color: #355f5f;
    color: #ffffff;
    padding: 10px;
	text-shadow: 0 3px 3px #32292F;
    border-top: 1px solid #e5f0f0;
}


/******************************************************/
/******************************************************/
/*******************DISCOVER PAGE**********************/
.discover {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px
}

.discover div {
    
    border: 1px solid #32292f;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    padding: 10px;
    
}

.discover-title {
    padding: 30px 30px 0px 30px;
    text-align: center;
}

.stats {
    padding: 10px;
}

.discover-title p {
    padding: 20px 20px 10px 20px;
}

.discover p {
    padding: 10px;
}


/*************DISCOVER BOX1***************/
.discover1 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #355f5f90;
}

/*****************************************/
/*************DISCOVER BOX2***************/
.discover2 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #355f5f90;
    border: transparent;
}

/*****************************************/
/*************DISCOVER BOX3***************/
.discover3 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #355f5f90;
    border: transparent;
}

/*****************************************/
/*************DISCOVER BOX4***************/
.discover4 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #355f5f90;
    border: transparent;
}

/*****************************************/
/*************DISCOVER BOX5***************/
.discover5 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #355f5f90;
    border: transparent;
}

/*****************************************/
/*************DISCOVER BOX6***************/
.discover6 h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -22px;
    background-color: #355f5f90;
    border: transparent;
}

/*****************************************/
/*************DISCOVER BOX7***************/
.discover7 h2 {
    padding: 5px 15px 10px 30px;
    margin: 10px 90px 20px -22px;
    background-color: #355f5f90;
    border: transparent;
}

.discover7 .border {
    margin-bottom: 10px;
}

.discover7 .bottom {
    margin: 0px;
}
/*****************************************/
/*******DISCOVER LAZY LOAD IMAGES*********/
.discover7 img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.pics {
    border: 1px solid black;
    transition: filter 0.5s;
}

.discover7 p {
    padding: 10px;
}

img[data-src] {
    filter: blur(0.4em);
}

.discover7 .photo-gal {
    padding: 10px;
    margin: 10px 10px 20px 10px;
    text-align: center;
}



/******************************************************/
/******************************************************/
/***********************JOIN PAGE**********************/

/******form styling*******/
form fieldset {
    margin: 10px;
    border: 1px solid #32292f;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #363636;
}

form legend {
    color: #32292f;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: Lobster Two, cursive;
    font-size: 24px;
    background-color: #faf2d6;
    border: 1px solid;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #32292f;
    font-size: .8rem;
    margin: 20px;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: 1px solid #32292f;
    border-radius:  4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 45rem;
    background-color: #f2f2f2;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #32292f;
}

form input.submitBtn {
    border: 1px solid #32292f;
    background-color: #355f5f;
    color: #ffffff;
    border-radius: 1rem;
    padding: 10px 40px;
    margin: 10px;
    width: 96%;
    max-width: 45rem;
    font-size: 100%;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    cursor: pointer;
}

form label.top input:required {
    border-left: rgb(201, 93, 93) solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(82, 157, 82) solid 6px;
}

form section {
    padding: 10px;
}

form textarea {
    width: 100%;
    max-width: 45rem;
    height: 10rem;
    max-width: 45rem;
    background-color: #f2f2f2;
    border: 1px solid #32292F;
}

#jointitle {
    padding: 10px;
    
    margin: 20px 20px 0px 20px;    
    text-align: center;
}

#memberlevels {
    display: grid;
    margin: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #32292f;
    box-shadow: 3px 3px 10px #363636;
}

.memberinfo {
    border: 1px solid #32292f;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}
 .memberinfo h2 {
    padding: 5px 20px 10px 30px;
    margin: 10px 50px 20px -37px;
    background-color: #355f5f90;
 }

 .memberinfo li {
     padding: 3px 10px 3px 0px;
 }

 .infobox {
    padding: 10px 10px 10px 25px;
    border: 1px solid #32292f;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
 }

 .infobox h3 {
     padding: 0px 0px 10px 0px;
     font-size: 16px;
     color: #32292f;
 }

#leveltitle h2 {
     text-align: center;
     padding: 10px;
     margin: 10px 10px 20px 10px;
     background-color: #355f5f90;
 }


/******************************************************/
/******************************************************/
/******************THANK YOU PAGE**********************/
.thankyou {
    border: 1px solid #32292f;
    padding: 10px;
    margin: 75px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

.thankyou2 {
    border: 1px solid #32292f;
    padding: 10px;  
    background-color: #ffffff;
    text-align: center;
    background: linear-gradient(0.25turn, #b1d3d3, #faf2d6, #ffffff, #faf2d6, #b1d3d3);
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

.thankyou2 h1 {
    padding: 20px;
}

.thankyou2 p {
    padding: 0px 10px 20px 010px;
}