
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lato, sans-serif;
    max-width: 1160px;
    margin: 0 auto;
    background-color: #ffffff;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #32292f;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

header {
    display: grid;
    grid-template-columns: 75px 1fr 60px 40px;
    grid-template-rows: 1fr 20px;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #355f5f;
    color: #ffffff;
}

header div {
    display: flex; 
    gap: 5px;
    margin: auto;
}

header p {
    grid-column: 1/5;
    text-align: center;
    background: linear-gradient(0.25turn, #b1d3d3, #faf2d6, #ffffff, #faf2d6, #b1d3d3);
    color: #32292F;
    border: 2px solid #32292f;
    padding: 5px 0px;
}

h1 {
    font-size: 24px;
    line-height: .6;
    padding: 5px;
    font-family: Lobster Two, cursive;
    text-shadow: 0 3px 3px #32292F;
}

h2, h3 {
    color: #ffffff;
    font-family: Lobster Two, cursive;
    text-shadow: 0 3px 3px #32292F;
}

#cc {
    font-size: 18px;
    font-family: Lato, sans-serif;
}

/************* HAMBURGER MENU ***************/
nav {
    display: block;
    position: relative;
    margin: 20px auto;
}

nav ul {
    list-style-type: none;  /* remove list dots */
    padding: 0;  /* remove padding on right side of list items */
    margin: 0;  /* remove margin from hamburger icon and home button */
}

#primaryNav {
    position: absolute;
    top: -10px;
    right: 30px;
    border: 2px solid #000000;
}

#primaryNav .active {
    text-decoration: 2px overline solid #32292f;
    font-weight: bold;
}

nav button {
    background: transparent;
    border: 1px solid #ffffff;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 6px;
}

nav ul li a {
    display: block;
    padding: .7rem 2vw;
    text-decoration: none;
    text-align: center;
    color: #32292f;
    background-color: #b1d3d3;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: #ffffff;
}

nav ul { display: none;}
nav ul.open {display: block;}

/* hides hamburger button and displays an X */
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    background-color: #e5f0f0;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  
}

/* Tuesday Banner */
#banner {
    display: none;
    text-align: center;
    background: linear-gradient(0.25turn, #b1d3d3, #faf2d6, #ffffff, #faf2d6, #b1d3d3);
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-top : 3px dashed #322932;
    border-bottom : 3px dashed #322932;
    line-height: 1.1;
}

#close {
    padding: 3px;
    background-color: #f7c72b;
    border-radius: 5px 5px 5px 5px;
}

/* Mobile Layout (Grid) */
.containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 225px);
    gap: 20px;
    padding: 20px;
}

.containers div {
    border: 1px solid #32292f;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    padding: 10px;
}

/**************************************************/
/************ Box-1 WELCOME-HERO IMAGE ************/
.welcome {
    position: absolute;
    padding: 5px 30px;
    bottom: 30px;
    left: 0px;
    color: white;
    background-color: #355f5f90;
}

.box1 {
    position: relative;
}

.box1 img {
    object-fit: cover;
    height: 100%;
}

.joinbtn {
    position: absolute;
    top: 30px;
    left: 40px;
    background-color: #f7c72b;
    border: 1px solid #32292f;
    padding: 7px;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    border-radius: 5px 5px 5px 5px;
}

.joinbtn a {
    color: #32292f;
    text-decoration: none;
}

.containers .joinbtn:hover {
    background-color: #f9dd83;
}
/*************** END BOX-1 ******************/
/********************************************/
/************** BOX-2 EVENT *****************/
.event {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}

.box2 {
    position: relative;
}

.box2 img {
    object-fit: cover;
    height: 100%;
}

.box2 p {
   position: absolute;
   color: white;
   bottom: 20px;
   left: 10px;
   right: 10px;
   padding: 5px  10px  10px 10px;
   background-color: #355f5f90;
}
/*************** END BOX-2 ******************/
/********************************************/
/************** BOX-3 WEATHER ***************/
.weather {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
}

.box3 {
    position: relative;
}

.box3 img {
    position: absolute;
    box-shadow: none;
    border: none;
    padding: 20px;
    object-fit: cover;
    width: 160px;
    right: 5px;
    bottom: 20px;
}

.box3 p {
    position: absolute;
    color: #32292f;
    bottom: 50px;
    left: 10px;
    padding: 5px 15px 5px 30px;
}
/************** END BOX-3 *****************/
/******************************************/
/*************** BOX-4 NEWS ***************/
.news {
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 15px 5px 30px;
    background-color: #355f5f90;
} 

.box4 {
    position: relative;
}

.box4 img {
    object-fit: cover;
    height: 100%;
}

.box4 p {
   position: absolute;
   color: #ffffff;
   bottom: 20px;
   left: 10px;
   right: 10px;
   padding: 5px  10px  10px 10px;
   background-color: #355f5f90;
}

.box4 p a {
    color: #f9dd83;
    text-decoration: none;
}
/***************BOX 4 End *******************/
/********************************************/



.box1, .box2, .box3, .box4, .box6 {
    border: 2px solid #32292f;
    background-color: white;
    padding: 10px;
}

.box div:nth-child(3) {
    display: none;
}

.box6 {
    display: grid; 
    gap: 10px;
    height: 100%;
    grid-row: 5/7;  
}

.box6 div:nth-child(3) {
    display: none;
  }

/*** Selectors ***/
.material-icons {
    color: #ffffff;
}

/*** Footer ***/
footer section {
    display: grid;
    text-align: center;
    padding: 10px;
    background-color: #355f5f;
    color: #ffffff;
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
   
}

footer a {
    text-decoration: none;
    color: #ffffff;
   
}

footer .urlsite {
    line-height: 2rem;
}

footer #lastline {
    text-align: center;
    font-size:  16px;
    padding: 10px;
   
    background-color: #355f5f;
    color: #ffffff;
    padding: 10px;
	text-shadow: 0 3px 3px #32292F;
    border-top: 1px solid #e5f0f0;
}