
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Lato, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

img {
    max-width: 25%;
    height: auto;
}

main {
    background-color: whitesmoke;
}

/* Hamburger Menu */

h1, p {
    margin: 10px;
}

nav {
    background-color: #eee;
}

nav ul {
    list-style-type: none;  /* remove list dots */
    padding: 0;  /* remove padding on right side of list items */
    margin: 0;  /* remove margin from hamburger icon and home button */
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul { display: none;}
nav ul.open {display: block;}

/* hides hamburger button and displays an X */
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Mobile Layout (Grid) */

.containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 125px);
    gap: 10px;
    padding: 10px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    border: 2px solid #000000;
    background-color: white;
}
.box6 {
    display: none;
    }

/*
.box5 {
grid-row: 5/7;
}



#spot1, #spot2 {
    border: 2px solid #000000;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 125px);
    gap: 10px;
    padding: 10px;
    
}

#spot1 {
    grid-row: 5/6;
}

#spot2 {
    grid-row: 6/7;
}

#spot3 {
    display: none;
}*/