
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lato, sans-serif;
    max-width: 1160px;
    margin: 0 auto;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #32292f;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

header {
    display: grid;
    grid-template-columns: 75px 1fr 60px 40px;
    grid-template-rows: 1fr 20px;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #355f5f;
    color: #ffffff;
}

header div {
    display: flex; 
    gap: 5px;
    margin: auto;
}

header p {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/5;
    text-align: center;
    background-color: #b1d3d3;
    color: #32292F;
    border: 2px solid #32292f;
    padding: 5px 0px;
}

h1 {
    font-size: 24px;
    line-height: .6;
    padding: 5px;
    font-family: Lobster Two, cursive;
    text-shadow: 0 3px 3px #32292F;
}

h2 {
color: #32292f;
}

#cc {
    font-size: 18px;
    font-family: Lato, sans-serif;
}

/*** HAMBURGER MENU ***/
nav {
    display: block;
    position: relative;
    margin: 20px auto;
}

nav ul {
    list-style-type: none;  /* remove list dots */
    padding: 0;  /* remove padding on right side of list items */
    margin: 0;  /* remove margin from hamburger icon and home button */
}

#primaryNav {
    position: absolute;
    right: 10px;
    border: 2px solid #000000;
}

#primaryNav .active {
    text-decoration: underline;
    font-weight: bold;
}


nav button {
   
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #ffffff;
}

nav button:hover {
    border: 1px solid #ffffff;
    padding: 2px 5px;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    text-align: center;
    color: #32292f;
    background-color: #b1d3d3;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: #ffffff;
}

nav ul { display: none;}
nav ul.open {display: block;}

/* hides hamburger button and displays an X */
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    background-color: #e5f0f0;
}

/* Mobile Layout (Grid) */
.containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 125px);
    gap: 20px;
    padding: 20px;
}

containers div {
    border: 1px solid #32292f;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
    padding: 10px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    border: 2px solid #32292f;
    background-color: white;
    padding: 10px;
}

.box5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.box6 {
    display: none;
}

#spot1 {
    border: 2px solid #000000;
    grid-column: 1/2;
    grid-row: 1/2;
}

#spot2 {
    border: 2px solid #000000;
    grid-column: 1/2;
    grid-row: 2/3;
}

#spot3 {
    display: none;
}

/*** Selectors ***/
.material-icons {
    color: #ffffff;
}

/*** Footer ***/
footer section {
    display: grid;
    text-align: center;
    padding: 10px;
    background-color: #355f5f;
    color: #ffffff;
}

.address {
    line-height: 1.5rem;
    padding-bottom: 10px;
   
}

footer a {
    text-decoration: none;
    color: #ffffff;
   
}

footer .urlsite {
    line-height: 2rem;
}

footer #lastline {
    text-align: center;
    font-size:  16px;
    padding: 10px;
   
    background-color: #355f5f;
    color: #ffffff;
    padding: 10px;
	text-shadow: 0 3px 3px #32292F;
    border-top: 1px solid #e5f0f0;
}