
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lato, sans-serif;
    max-width: 1160px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 75px 1fr 60px 40px;
    grid-template-rows: 1fr 20px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    text-align: center;   
}

header div {
    display: flex; 
    gap: 5px;
    margin: auto;
}

header p {
    grid-row: 2/3;
    grid-column: 1/5;
    align-items: left; 
    background-color: rgb(216, 215, 215);
    border: 1px solid #000000;
    padding: 10px;
}

h1 {
    font-size: 24px;
    line-height: .6;
    padding: 5px;
    font-family: Lobster Two, cursive;
}

#cc {
    font-size: 18px;
    font-family: Lato, sans-serif;
}

/*** HAMBURGER MENU ***/
nav {
    display: block;
    position: relative;
}

nav ul {
    list-style-type: none;  /* remove list dots */
    padding: 0;  /* remove padding on right side of list items */
    margin: 0;  /* remove margin from hamburger icon and home button */
}

#primaryNav {
    position: absolute;
    right: 10px;
    border: 1px solid #000;
    background: rgb(210, 209, 209);
}

nav button{
    margin: .3rem 1vw;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #555;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}
/*
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
*/
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul { display: none;}
nav ul.open {display: block;}

/* hides hamburger button and displays an X */
#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    background-color: whitesmoke;
}

/* Mobile Layout (Grid) */
.containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 125px);
    gap: 10px;
    padding: 10px;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    border: 2px solid #000000;
    background-color: white;
}

.box5 {
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.box6 {
    display: none;
}

#spot1 {
    border: 2px solid #000000;
    grid-column: 1/2;
    grid-row: 1/2;
}

#spot2 {
    border: 2px solid #000000;
    grid-column: 1/2;
    grid-row: 2/3;
}

#spot3 {
    display: none;
}

/*** Selectors ***/
.material-icons {
    color: red;
}

/*** Footer ***/
footer section {
    display: inherit;
    text-align: center;
    padding: 10px;
}

.address {
    line-height: 1.2rem;
    padding-bottom: 10px;
    /*font-weight: 600;*/
}

footer a {
    text-decoration: none;
   
}

footer .urlsite {
    line-height: 2rem;
}

footer #lastline {
    text-align: center;
    font-size:  14px;
    padding: 10px;

}