@media only screen and (min-width: 1000px) {

/**********************************************/
/******************* Header *******************/


/**********************************************/
/****************** Navigation ****************/

.mainMenu li:first-child { 
    display: none;	
}

.mainMenu li {
    display: inline-block;
}

.mainMenu ul {
    display: flex;
    flex-direction: row;
}

.mainMenu a {           
    width: 100%;
    padding: 1.5rem;
}    

/**********************************************/
/********************** Body ******************/


/**********************************************/
/******************* Footer *******************/


/**********************************************/
/********************** HOME PAGE *************/

#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#spotlight {
    grid-column: 2/3;
    grid-row: 1/2;
}

#spotlight p {
    padding: 20px;
}

#nightTemple {
    grid-column: 3/4;
}

#resBtn {
    margin: 5px 50px 10px 50px;
}

#threedayWeather {
    grid-column: 2/4;
}

#guestForm {
    margin: 20px 280px;
}


/**********************************************/
/******************* TEMPLES PAGE *************/

#temple-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.templeBtn-grid {
    display: grid;
    grid-template-columns: 1fr;
}


/*********************************************/
/******** ORDINANCES SCHEDULE PAGE ***********/

#ordinance-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

#json-divs {
    margin: 35px 200px;
}

#back-button {
    margin: 25px 25px 25px 200px;
}


/*************************************************/
/**************** RESERVATION PAGE ***************/

.guestForm {
    margin: 20px 350px;
}


/*************************************************/
/****************** THANKS PAGE ******************/

#thanks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/*************************************************/
/**************** SERVICES PAGE ******************/

#specializedImg-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

#amenities-grid {
     margin: 0px 130px;
}

#amenities-list {
    font-size: 18px;
}

#specialized-list {
    font-size: 18px;
    margin: 0px 30px 30px 30px;
}

#specializedBtns {
    margin: 10px 80px 30px 140px;
}

/*************************************************/
/***************** CONTACT PAGE ******************/

#contact-grid {
    margin: 0px 100px;
}

#contact-div1 {
    margin: 0px 20px 0px 0px;
    padding: 20px 20px 20px 30px;
}

#contact-div1 p {
    font-size: 24px;
}

.page-intro {
    margin: 10px 100px;
}


/*************************************************/
/*************** RECEPTION PAGE ******************/

.reception-grid2 {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

#receptionContactBtn {
    margin: 0px 400px 30px 400px;
}


/*************************************************/
/*************** MISSIONARY PAGE *****************/

#missionaryDiv-grid {
    margin: 0px 95px;
}

#mission4 {
    display: none;
}

#bedroom-info {
    margin: 20px 0px;
}



}
