@media only screen and (min-width: 1000px) {


/************** Header ************/

/************** Navigation ************/

.mainMenu li:first-child { 
    display: none;	
}

.mainMenu li {
    display: inline-block;
}

.mainMenu ul {
    display: flex;
    flex-direction: row;
}

.mainMenu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;            
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}    

/********************** Body *************/



/************** Footer ************/



/**********************************************/
/********************** HOME PAGE *************/

#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#spotlight {
    grid-column: 2/3;
    grid-row: 1/2;
}

#spotlight p {
    padding: 20px;
}

#nightTemple {
    grid-column: 3/4;
}

#resBtn {
    margin: 5px 50px 10px 50px;
}

#threedayWeather {
    grid-column: 2/4;
}


/**********************************************/
/********************** TEMPLES PAGE *************/

#temple-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.templeBtn-grid {
    display: grid;
    grid-template-columns: 1fr;
}


/*************************************************/
/********** ORDINANCES SCHEDULE PAGE *************/

#ordinance-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

#json-divs {
    margin: 35px 200px;
}

#back-button a {
    margin: 200px;
}










}
