@media only screen and (min-width: 760px) {

/************** Header ************/

/************** Navigation ************/

/********************** Body *************/

/************** Footer ************/

.foot1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.social {
    grid-column: 2/3;
    margin: 0;
}

.address {
    margin: 20px 0px 0px 0px;
}

/**********************************************/
/********************** HOME PAGE *************/


/**********************************************/
/********************** TEMPLES PAGE *************/

#temple-grid {
    grid-template-columns: 1fr 1fr; 
}

/*************************************************/
/********** ORDINANCES SCHEDULE PAGE *************/

#json-divs {
    margin: 35px 100px;
}

#back-button a {
    margin: 100px;
}



}