* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************** Header ************/
header img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    border: none;
    box-shadow: none;
}

header {
    background-color: #201e2c;
}

h1 {
    font-family: Lobster Two, cursive;
    color: #d8cb89;
    text-align: center;
    font-size: 38px;
    padding: 20px;
}

header p {
grid-column: 1/5;
text-align: center;
background: linear-gradient(0.25turn, #d8cb89, #ffffff, #d8cb89);
color: #201e2c;
border: 2px solid #000000;
padding: 5px 0px;
box-shadow: 3px 3px 10px #000000;
}


/********** Navigation **********/

nav {
    background-color: #b7c8d8;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mainMenu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mainMenu li:first-child {
    display: block;
}

.mainMenu li {
    display: none;
}

.mainMenu a {
    display: block; 
    color: #201e2c;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

.mainMenu .currentpage {
    background-color: #eaf3fb;
}

.mainMenu a:hover {
    color: white;
    background-color: #201e2c;
}

.responsive li { 
    display: block; 
}


/********************** Body *************/
body {
    font-family: Lato, sans-serif;
    max-width: 1260px;
    margin: 0 auto;
    background-color: #eaf3fb;
  }

h2 {
    font-family: Lobster Two, cursive;
    font-size: 34px;
    text-align: center;
    color: #201e2c;
    margin: 25px 10px;
}  
h3 {
    color: #201e2c;
}

img {
    border-radius: 5px 5px 5px 5px;
}

.page-intro p {
    margin: 25px;
}

.all-images {
    width: 100%;
    box-shadow: 3px 3px 10px #000000;
    object-fit: cover;
}

.page-intro {
    margin: 30px;
}  

.main-divs {
    margin: 20px;
}

.cards {
    border: 2px solid #d8cb89;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}  
  


/********************** Footer *************/

.page-list, .address, .weather-api, .urlsite {
    list-style: none;
    margin: 20px 40px;
    line-height: 1.5rem;
}

footer .foot1 {
    padding: 10px;
    background-color: #201e2c;
    color: #d8cb89;
}


footer a {
    text-decoration: none;
    color: #d8cb89;
   
}


footer .lastline {
    text-align: center;
    font-size:  16px;
    padding: 10px;
    background: linear-gradient(0.25turn, #d8cb89, #ffffff, #d8cb89);
    color: #201e2c;
    padding: 10px;
	border-top: 1px solid #e5f0f0;
}


.social a img {  
    border: none;
    margin: 5px;
}

.social {
    margin-left: 40px;
}


/**********************************************/
/********************** HOME PAGE *************/

#home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#spotlight p {
    padding: 15px;
}

#spotlight a {
    font-size: 18px;
    font-weight: bolder;
}

.page-intro {
    margin: 10px;
}

#resBtn {
    border: 1px solid black;
    padding: 10px;
    margin: 20px 50px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background-color: #d8cb89;
    box-shadow: 3px 3px 10px #000000;
}

#resBtn a {
    text-decoration: none;
    color: #000000;
}


/*************************************************/
/********************** TEMPLES PAGE *************/

#temple-grid {
    display: grid;
    gap: 15px;
}

.t-cards {
    border: 2px solid #b7c8d8;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.t-cards h2 {
    text-align: center;
    margin: 10px;
}

.t-cards h3 {
    margin: 15px 0px 0px 0px;
}

.templeInfo {
    margin: 20px;
}

.templeBtn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temple-button1, .temple-button2 {
    border: 1px solid black;
    font-weight: bolder;
    background-color: #d8cb89;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 10px #000000;
}

.temple-button1 a, .temple-button2 a {
    text-decoration: none;
    color: #000000;
}

.likeBtn {
    margin: 15px 5px 15px 20px;
}

.quote {
    margin: 40px;
}

#resultLayton, #resultOgden, #resultPayson, #resultSaratoga {
   margin: -35px 50px;
}

.templeInfo h2 {
    padding: 30px 10px 10px 10px;
}


#threedayWeather {

}

/*************************************************/
/********** ORDINANCES SCHEDULE PAGE *************/

#back-button a {
    margin: 25px;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: #acdbac;
}

#json-divs {
    margin: 25px;
}

#json-divs h3 {
    margin: 25px 15px 5px 15px; 
}

#json-divs h4 {
    margin: 10px 15px 0px 15px;
}

#json-divs p {
    margin: 0px 30px 0px 15px;
}


/*************************************************/
/********** ORDINANCES & CLOSURE PAGES ***********/

