* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************************************/
/******************** Header ******************/
header img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    border: none;
    box-shadow: none;
}

header {
    background-color: #201e2c;
}

h1 {
    font-family: Lobster Two, cursive;
    color: #d8cb89;
    text-align: center;
    font-size: 2.7rem;
    padding: 20px;
}

header p {
grid-column: 1/5;
text-align: center;
background: linear-gradient(0.25turn, #d8cb89, #ffffff, #d8cb89);
color: #201e2c;
border: 2px solid #000000;
padding: 5px 0px;
box-shadow: 3px 3px 10px #000000;
}


/**********************************************/
/***************** Navigation *****************/

nav {
    background-color: #b7c8d8;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mainMenu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mainMenu li:first-child {
    display: block;
}

.mainMenu li {
    display: none;
}

.mainMenu a {
    display: block; 
    color: #201e2c;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

.mainMenu .currentpage {
    background-color: #eaf3fb;
}

.mainMenu a:hover {
    color: white;
    background-color: #201e2c;
}

.responsive li { 
    display: block; 
}


/**********************************************/
/********************** Body ******************/
body {
    font-family: Lato, sans-serif;
    max-width: 1260px;
    margin: 0 auto;
    background-color: #eaf3fb;
  }

h2 {
    font-family: Lobster Two, cursive;
    font-size: 2.0rem;
    text-align: center;
    color: #201e2c;
    margin: 20px 10px;
}  
/*
h3 {
    color: #201e2c;
}
*/
img {
    border-radius: 5px 5px 5px 5px;
}

.page-intro p {
    margin: 25px;
    text-align: center;
    font-size: 18px;
}

.all-images {
    width: 100%;
    box-shadow: 3px 3px 10px #000000;
}

.page-intro {
    margin: 10px;
}  

.main-divs {
    margin: 20px;
}

.cards {
    border: 2px solid #d8cb89;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}  
  
li {
    line-height: 1.5rem;
}

/**********************************************/
/********************** Footer ****************/

.page-list, .address, .weather-api, .urlsite {
    list-style: none;
    margin: 20px 40px;
    line-height: 1.5rem;
}

footer .foot1 {
    padding: 10px;
    background-color: #201e2c;
    color: #d8cb89;
}


footer a {
    text-decoration: none;
    color: #d8cb89;
}

footer a:hover {
    color: #eaf3fb;
}


footer .lastline {
    text-align: center;
    font-size:  16px;
    padding: 10px;
    background: linear-gradient(0.25turn, #d8cb89, #ffffff, #d8cb89);
    color: #201e2c;
    padding: 10px;
	border-top: 1px solid #e5f0f0;
}


.social a img {  
    border: none;
    margin: 5px;
}

.social {
    margin-left: 40px;
}


/**********************************************/
/********************** HOME PAGE *************/

#home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#spotlight p {
    padding: 15px;
}

#callActionBtn {
    display: grid;
   
}

#resBtn {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background-color: #d8cb89;
    box-shadow: 3px 3px 10px #000000;
    text-decoration: none;
    color: #201e2c;
    font-weight: bolder;
    margin: 10px 30px;
}

#resBtn:hover {
    background-color: #201e2c;
    color: #ffffff;
}

#todayWeather p {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}



#guestForm {
    border: 2px solid #b7c8d8;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin: 20px;
    padding: 15px;
}

/*************************************************/
/********************** TEMPLES PAGE *************/
.buttonHover {
    background-color: #c95d5d;
}

#temple-grid {
    display: grid;
    gap: 15px;
}

.t-cards {
    border: 2px solid #b7c8d8;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.t-cards h2 {
    text-align: center;
    margin: 10px;
}

.t-cards h3 {
    margin: 15px 0px 0px 0px;
}

.templeInfo {
    margin: 20px;
}

.templeBtn-grid {
    display: grid;
    gap: 10px;
}

.templeButtons {
    border: 1px solid black;
    font-weight: bolder;
    background-color: #d8cb89;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 10px #000000;
    text-decoration: none;
    color: #201e2c;
}

.templeBtn-grid .templeButtons:hover {
    background-color: #201e2c;
    color: #ffffff;
}

.likeBtn {
    margin: 15px 5px 15px 20px;
}

.quote {
    margin: 40px;
}

#resultLayton, #resultOgden, #resultPayson, #resultSaratoga {
   margin: -35px 50px;
}

.templeInfo h2 {
    padding: 30px 10px 10px 10px;
}



/*************************************************/
/********** ORDINANCES SCHEDULE PAGE *************/

#back-button {
    margin: 25px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: #d8cb89;
    color: #201e2c;
}

#back-button:hover {
    background-color: #201e2c;
    color: #ffffff;
}

#json-divs {
    margin: 25px;
}

#json-divs h3 {
    margin: 25px 15px 5px 15px; 
}

#json-divs h4 {
    margin: 10px 15px 0px 15px;
}

#json-divs p {
    margin: 0px 30px 0px 15px;
}


/*************************************************/
/********** ORDINANCES & CLOSURE PAGES ***********/
/*////////////  In a JSON File  /////////////////*/



/*************************************************/
/**************** RESERVATION PAGE ***************/

.guestForm {
    border: 2px solid #b7c8d8;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 5px 5px 5px 5px;
}

.guestForm form {
    padding: 0px 15px 25px 15px;
}

.guestForm h3 {
    padding: 20px 0px 10px 0px;
}

.formItem {
    display: flex;
    padding: 10px;
}

.formItem label {
    flex: 1;
    padding: 10px 5px 10px 0px;
    font-size: 16px;
}

.entrybox {
    flex: 2;
    padding: 10px;
    font-size: 16px;
}

input.entrybox:required {
    border-left: #c95d5d solid 6px;
}

input.entrybox:required:valid {
    border-left: #529d52 solid 6px;
}

hr {
    margin: 10px 0px;
    border: 2px solid #d8cb89;
}

.dropMenu select {
    display: flex;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

#location, #checkIn, #checkOut, #roomType, #roomQty {
    font-size: 22px;
    font-weight: bolder;
}

#roomsDiv {
    padding: 20px 15px 0px 15px;
}

#roomsDiv input {
    margin: 10px 0px 10px 25px;
    font-size: 18px;
}

span #roomQty {
    padding: 15px;
}

textarea#commentBox {
    width: 100%;
    margin: 0px 0px 15px 0px;
}

input.submitForm {
    display: block;
    margin: 0 auto;
    padding: 1.5% 4%;
    font-size: 18px;
    background-color: #d8cb89;
    box-shadow: 3px 3px 10px #000000;
    border-radius: 5px 5px 5px 5px;
}

input.submitForm:hover {
    background-color: #201e2c;
    color: #ffffff;
}

/*************************************************/
/****************** THANKS PAGE ******************/

#thanks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 25px;
}

/*************************************************/
/**************** SERVICES PAGE ******************/

#amenities-grid, #specializedImg-grid {
    display: grid;
    gap: 15px;
}
#amenities-list, #specialized-list {
    margin-bottom: 20px;
}


#amenities-list ul, #specialized-list ul {
    margin: 0px 15px 0px 25px;
}

#amenities {
    margin-bottom: 20px;
}

#specializedBtns {
    display: grid;
    gap: 15px;
    margin-bottom: 30px;
}

.special-Btn {
    border: 1px solid black;
    font-weight: bolder;
    background-color: #d8cb89;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 10px #000000;
    text-decoration: none;font-size: 18px;
    color: #201e2c;
}

.special-Btn:hover {
    background-color: #201e2c;
    color: #ffffff;
}


/*************************************************/
/***************** CONTACT PAGE ******************/

#contact-grid {
    display: grid;
    gap: 10px;
}

.contact-div p {
    padding: 10px 0px 10px 40px;
    font-size: 18px;
}

#hotel-img {
    margin: 0px 20px;
}

/*************************************************/
/*************** RECEPTION PAGE ******************/

.reception-grid1 {
    display: grid;
    gap: 15px;
    margin: 15px;
}

.reception-grid2 {
    display: grid;
    gap: 15px;
    margin: 15px;   
}

#weddingPkg {
    padding: 0px 15px;
    margin: 20px 20px 20px 40px;
}

#receptionContactBtn {
    display: grid;
    border: 1px solid black;
    font-weight: bolder;
    background-color: #d8cb89;
    padding: 10px;
    margin: 0px 100px 30px 100px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 10px #000000;
    text-decoration: none;font-size: 18px;
    color: #201e2c;
}

#receptionContactBtn:hover {
background-color: #201e2c;
color: #ffffff;
}

/*************************************************/
/*************** MISSIONARY PAGE *****************/

#mission-grid1 {
    display: grid;
    gap: 15px;
    margin: 20px;
}

.suite-info {
    margin: 0px 20px 20px 25px;
}

#bedroom-info {
    margin: 20px;
    background-color: #ffffff;
    border: 2px solid #b7c8d8;
    padding: 0px 15px 20px 15px;
}


/*************************************************/
/***************** RESOURCE PAGE *****************/
.resource-div {
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
}