* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 30px;
	text-align: center;
}

nav ul{
	list-style-type: none;
	overflow: hidden;
}

nav ul li { 
	flex: 1 1 auto; 
	
} 

nav ul li a {
	display: block;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-family: 'Lobster Two', cursive;
	font-size: 1.5rem;
	background-color: #93C2C2;
	color: #32292F;
	text-shadow: 0 3px 3px white;
}

nav a:hover {
	background: white;
	
}

body {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
	background-color: #CBE2E2;
	color: #65514E;
    max-width: 900px;
    margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 1fr;
    font-size: 1rem;
}

main section {
    margin: 1rem;
    border: 1px solid #000000;
    padding: 1rem;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(54, 54, 54);
}

img {
	width: 100%;
    height: auto;
    border: 1px solid #000000;
    box-shadow: 3px 3px 10px rgb(54 54 54);
}

h2 {
	color: #32292F;
	margin: 1rem;
}

h3 {
	margin: 1rem;
	color: #355F5F;
	}

p, main li {
	margin: 1rem;
}

header, footer {
    display: flex;
    background-color: #355F5F;
	font-family: 'Lobster Two', cursive;
	color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
	text-shadow: 0 3px 3px #32292F;
}





